#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 5px 5px 15px hsl(237, 14%, 26%);
  overflow-y: scroll;
  position: relative;
}

.todo-list-container {
  height: 390px;
  overflow-y: scroll;
  box-sizing: border-box;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 5px 5px 15px hsl(237, 14%, 26%);
  overflow-y: scroll;
  position: relative; */
}

.todo-list-container-light {
  background-color: white;
}

.todo-list-container-dark {
  background-color: hsl(235, 24%, 19%);
}

#todo-list-wrapper {
  overflow-y: scroll;
}

#todo-list-dnd {}