#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  align-items: center;
  position: relative;
}

#bg-image {
  width: auto;
  height: auto;
  max-width: 1440px;
  max-height: 300px;
  position: absolute;
  /* bottom: 0; */
  z-index: -1;
}

#todo-container {
  max-width: 540px;
  width: 100%;
  /* height: 605px; */
  max-height: 100%;
  /* border: 1px solid black; */
  margin-top: 80px;
}

#todo-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#todo-title {
  font-size: 42px;
  font-weight: 700;
  color: white;
}

#add-todo {
  height: 65px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  margin-top: 40px;
}

#check-circle {
  width: 29px;
  height: 25px;
  border: 1px solid hsl(236, 9%, 61%);
  border-radius: 50px;
  margin: 25px;
}

#add-todo input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Josefin Sans';
}
